header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eeeeee;
    padding: 10px 20px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

nav ul {
    display: flex;
    list-style-type: none;
}