.hero {
    /* background: url('../img/cinema.jpg') center/cover no-repeat; */
    color: white;
    text-align: center;
    padding: 100px 20px;
    background-color: black;
}

.kolonne-container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.kolonne {
    flex: 1;
    /* background-color: black; */
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.kolonne.white {
    background-color: white;
    color: black;
}

.kolonne.black {
    background-color: black;
    color: white;
}

/* tilbud */
#tilbud main .container {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

#tilbud main .container__h2 {
    margin-top: 100px;
}

#tilbud main .container__ul {
    list-style-type: none;
    padding-left: 0;
    /* fjerner indrykning */
}

#tilbud main .container__ul li {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.gron-knap {
    background-color: #4CAF50;
    color: black;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.gron-knap:hover {
    background-color: #45a049;
}

.faq-container {
    max-width: 600px;
    margin: auto;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.accordion {
    background: #fff;
    color: #333;
    cursor: pointer;
    padding: 16px;
    width: 100%;
    text-align: left;
    border: 1px solid #ddd;
    outline: none;
    transition: background 0.2s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

.accordion::after {
    content: '+';
    font-size: 1.2rem;
}

.accordion.active::after {
    content: '−';
    color: #d00;
}

#foldBox {
    transition: height 1.5s;
}

.panel {
    background-color: #fff;
    overflow: hidden;
    padding: 0 16px;
    height: 0;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.panel p {
    margin: 16px 0;
    color: #444;
    font-size: 0.95rem;
}