body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}


.hero {
    /* background: url('../img/cinema.jpg') center/cover no-repeat; */
    color: white;
    text-align: center;
    padding: 100px 20px;
    background-color: black;
}

.kolonne-container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.kolonne {
    flex: 1;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}